<h1>JOIN US</h1>

<p>
  Enter your email to join <strong><%= total_users %></strong> others on our
  waitlist.
</p>

<form>
  <input type="text" placeholder="Enter your email">
  <button>Join Now</button>
</form>
